os:
  - linux
  - windows
language: node_js
node_js:
  - 6
  - 8
  - 10
  - 11
matrix:
  fast_finish: true
cache:
  directories:
    - node_modules
before_install:
  
install:
  - npm install
after_success:
  - npm run coverage